
nav#top-bar {
    display: flex !important;
    justify-content: space-between;
    padding: 0 16px !important;
    margin-top: 10px !important;
}

nav#top-bar .nav_container {
    display: flex;    
    gap: 10px;
    align-items: center;
}

nav#top-bar .nav_container .nav_menu{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
    margin-top: -2px;
    color: #555555;
    
}

.nav_menu:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #f0f0f0;
}

nav#top-bar .nav_container .nav_logo{  
  cursor: pointer;
  position: relative;
  width: 110px;
  height: 40px;
}

nav#top-bar .nav_container .nav_logo .fa-brands.fa-youtube{
    color: #f00;  
    font-size: 26px;
    position: absolute;
    bottom: 8px;
    left: 5px;
}

nav#top-bar .nav_container .nav_logo .logo_text{  
    font-size: 24px;
    letter-spacing: -0.5px;
    padding: 18px 14px 0px 0px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight:bold;
    position: absolute;
    left: 37px;
    bottom: 10px;
    
}

nav#top-bar .nav_container .nav_logo #country-code{
  color: #606060;
  position: absolute;
  bottom: 27px;
  left: 108px;
  width: 10px;
  font-size: 10px;
  margin: 12px 0 0 -10px;
}

nav#top-bar .nav_container .fa-solid.fa-microphone{
    width: 30px;
    height: 30px;    
    padding: 4px;
    border: none;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;   
    cursor: pointer; 
    background-color: #f9f9f9;
}
nav#top-bar .nav_container .fa-solid.fa-microphone:hover{
    background-color: #e9e9e9;
}

nav#top-bar .nav_container .nav_setting{          
    width:40px;
    height:40px;
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
    cursor: pointer; 
}

nav#top-bar .nav_container .nav_setting .fa-solid.fa-ellipsis-vertical{   
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  
}

nav#top-bar .nav_container .nav_account{
    display: flex;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    border-radius: 18px;
    padding: 0px 13px;
    height: 36px;
    color: #065fd4;
    cursor: pointer;
    margin: 0px;
    position: relative;
    justify-content: center;
    align-items: center;
}
.fa-regular.fa-circle-user{
  font-size: 20px;
}

.login{
    font-size: 14px;
    font-weight: 500;
}

.nav_account:hover{
    background-color: #def1ff;
    border-color: #fcfcfc;
}

.search {
    width: 634px;
    height: 40px;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: row;
  }
.search__inner {
    flex-grow: 1;
    position: relative;
  }
.search__inner input {
    box-shadow: inset 0 1px 2px #eee;
    width: 100%;
    height: 100%;
    padding: 0px 4px 0px 16px;
    /* margin-left: 32px; */
    outline: none;
    border: 1px solid #d3d3d3;
    border-radius: 40px 0 0 40px;
    border-right-color: #eee;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background-color: white;
  }
.search__inner input:focus {
    border-color: #476fb6;
    outline-offset: 0px;
  }
.search__inner .actions {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-right: 6px;
    display: flex;
  }
.search__inner .actions .material-symbols-outlined {
    width: 28px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: #0000009c;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
.search__inner .actions .material-symbols-outlined:hover {
    color: rgb(0, 0, 0);
  }

#search{
    width: 64px;
    height: 40px;
    box-sizing: border-box;
    border:1px solid #d3d3d3;
    border-radius: 0 40px 40px 0;
    background-color: #f8f8f8;
    color: rgb(35, 35, 35);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-variation-settings:
    'FILL' 0,
    'wght' 350,
    'GRAD' 0,
    'opsz' 48
}

#search:hover{
    background-color: #f2f2f2;
    box-shadow: 0 1px 0px #d3d3d3;
}

#search:hover::after {
    content: "검색";
    color:#ffffff;
    position: absolute;
    top: calc(100% + 20px);
    padding: 11px 8px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    background-color: #00000090;
  }

.sidebar {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 50px;
    min-height: 100%;
    bottom: 0;
    width: 72px;
    padding:0 4px;
    /* margin-top: 4px; */
    display: inline-block;
    flex-direction: column;
}

.sidebar-menu{
  margin-top: 10px;
}

.sidebar-button{
    width: 64px;
    height: 74px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;    
}

.sidebar-button:hover{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
}
  
.sidebar-button-a{  
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; 
    
}

.sidebar .material-symbols-outlined{
     line-height: 24px;
     text-align: center;
     width: 24px;
     height: 24px;
     font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
}
  
.sidebar-text {
    margin-top: 8px;
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
}

.contents-page{
     width: 100%;
     margin-left: 72px;
}

.contents-top-bar{
     border-top:none;
     border-bottom: none;
     position: fixed;
     top: 56px;
     width: 100%;
     height: 56px;
     z-index: 2000;
     display: flex;
     justify-content: flex-start;
     flex: none;
} 

.bar-button{
     margin: 12px 12px 12px 0px;
     padding: 0 12px;
     height: 32px;
     border-radius: 8px;
     background-color: rgba(0, 0, 0, 0.05);
     font-size: 14px;
     font-weight: 400;
     letter-spacing: 0.2px;
     word-spacing: -1.5px;
     cursor: pointer;
     box-sizing: border-box;
     justify-content: center;
     align-items: center;
     display: inline-flex; 
}

.bar-button:hover{
     background-color: #d3d3d3;
     color: #0f0f0f;
     transition: background-color 0.5s cubic-bezier(0.05,0,0,1);
}

#all{
     margin-left: 24px;
}
